{% block content %}

    <h5>Current Run</h5>
    <table class="table table-sm table-hover table-responsive table-bordered display">
        <thead>
            <tr>
                <th>Something</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Something else</td>
            </tr>
        </tbody>
    </table>

    <h5>Status</h5>
    <table class="table table-sm table-hover table-responsive table-bordered display">
        <thead>
            <tr>
                <th>Something</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Something else</td>
            </tr>
        </tbody>
    </table>

    <h5>Recent Output</h5>
    <table class="table table-sm table-hover table-responsive table-bordered display">
        <thead>
            <tr>
                <th>Something</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Something else</td>
            </tr>
        </tbody>
    </table>


{% endblock %}
