{% extends 'base.html' %}
{% load django_tables2 %}

{% block content %}
    <br>

    {# Embed the active_run html table #}
    <h5>Active Run Snapshot</h5>
        <div id="active-run">
            {% include 'sipper/active_run.html' %}
        </div>
    <hr>

    {# Embed the miseq_directory html table #}
    <h5>MiSeq Directory</h5>
        <div id="miseq-directory">
            {% include 'sipper/miseq_directory.html' %}
        </div>
    <hr>

    {# For some awful reason I have to load the JS I need for dataTables on this HTML page. base.html won't extend? #}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>

    {# dataTables reference: https://www.datatables.net/manual/options #}
    {# Script to add dataTables functionality #}
    <script type="text/javascript">
        $(document).ready( function () {
            $('#miseq-directory-table').DataTable(
                {
                    paging: false
                }
            );

        } );
    </script>

    {# Periodically refresh the status table #}
    <script type="text/javascript">
        function loadTables() {
            $(document).ready(function(){
                $('#active-run').load('active_run');
            });
        }

        //Immediately load the tables
        setTimeout(function() {
            {% for run in miseq_runs %}
                {% if run.genesippr_status == 'Processing' %}
                    console.log('Initial table loading');
                    loadTables();
                {% endif %}
            {% endfor %}
        }, 1);

        //Periodically load the tables if and job status == 'Processing'
        setInterval(function() {
            {% for run in miseq_runs %}
                {% if run.genesippr_status == 'Processing' %}
                    console.log('Loading...');
                    loadTables();
                {% endif %}
            {% endfor %}
        }, 5000); // This reloads the #active-run <div> every 5 seconds.
    </script>

{% endblock %}

